:root {
  --card-set-gap: 24px;
  --card-set-fotter-gap: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-white {
  color: #f4f4fd;
}

.color-black {
  color: #2e2f42;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 23px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container .modal-close-btn {
  top: 40px;
  right: 40px;
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  outline: none;
  fill: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-contact-wrapper {
  margin-top: auto;
}

.mobile-menu-contact-phone-link {
  color: #4d5ae5;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.11;
  text-transform: capitalize;
}

.mobile-menu-contact-phone-link:focus,
.mobile-menu-contact-phone-link:active {
  color: #4d5ae5;
}

.mobile-menu-contact-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contact-item:last-child {
  margin-top: 40px;
}

.mobile-menu-social {
  display: flex;
  align-items: center;
  margin-top: 48px;
  column-gap: 12%;
}

.mobile-menu-social-img {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color #404bbf;
}

.mobile-menu-social-link:focus,
.mobile-menu-social-link:hover {
  background-color: #404bbf;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

a.act {
  color: #404bbf;
}

.hero {
  display: block;
  max-width: 428px;
  margin: 0 auto;
  background-color: #2e2f42;
  text-align: center;
}

.overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../img/image-h1.jpg");
}

.hero-header {
  display: block;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

.hero-btn {
  margin-top: 48px;
  min-width: 170px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  position: absolute;
  background: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn-img {
  height: 8px;
  width: 8px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  outline: none;
  fill: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.send-form-text {
  margin-bottom: 14px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.send-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.send-form-label {
  display: block;
  margin-bottom: 8px;
}

.send-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.send-form-input-names {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.send-form-input-names:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.send-form-input-wrapper {
  display: block;
  position: relative;
}

.send-form-name-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-input:focus + .send-form-name-icon {
  fill: #4d5ae5;
}

.send-form-label-comment {
  margin-bottom: 16px;
}

.send-form-comment-input {
  display: block;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-comment-input::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.send-form-comment-input:focus {
  outline: none;
  border-color: var(--iris-color);
}

.send-form-policy::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-check:checked + .send-form-policy::before {
  background-image: url(../img/checkbox.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border: 1.25px solid #f4f4fd;
}

.send-form-check:focus + .send-form-policy::before {
  border-color: #4d5ae5;
}

.send-form-policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-policy a {
  color: #4d5ae5;
}

.send-form-btn {
  padding: 16px 32px;
  min-width: 170px;
  align-self: center;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #404bbf;
}

.strategy-item-link {
  display: none;
}

.strategy {
  padding-top: 96px;
  padding-bottom: 96px;
}

.strategy-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.strategy-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img-descr {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.team-social-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus,
.team-social-link:hover,
.team-social-link:active {
  background-color: #404bbf;
}

.team-social-img {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.team-header-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-header,
.customer-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.customer {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.customer-header {
  margin-bottom: 72px;
}

.customer-menu {
  display: flex;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
}

.customer-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: var(--sub);
  height: 100%;
  width: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-menu-img {
  width: 104px;
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-menu-link:hover,
.customer-menu-link:focus,
.customer-menu-link:active {
  border: 1px solid #404bbf;
  color: #404bbf;
}

.customer-menu-link:hover .customer-menu-img,
.customer-menu-link:focus .customer-menu-img,
.customer-menu-link:active .customer-menu-img {
  fill: #404bbf;
  color: #404bbf;
}

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-subscribe-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: capitalize;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  text-align: left;
  background: #4d5ae5;
  border-radius: 4px;
  width: 168px;
  height: 40px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus,
.footer-subscribe-btn:active {
  background-color: #404bbf;
}

.footer-social-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.footer-social-item {
  height: 40px;
  width: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-img {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-subscribe-img {
  margin-left: 16px;
  width: 24px;
  height: 20px;
  fill: #ffffff;
}

.footer-subscribe-input::placeholder {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2e2f42;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-descr {
  color: #e7e9fc;
  max-width: 268px;
  margin-top: 16px;
}

.footer-subscribe-input {
  display: block;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-subscribe-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.footer-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-size: 16px;
}

.portfolio-overlay-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #4d5ae5;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.menu-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #e7e9fc;
  font-family: "Roboto", sans-serif;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover,
.menu-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-bottom: 48px;
}

.portfolio-work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
}

.portfolio-card-link:hover .portfolio-overlay-card,
.portfolio-card-link:focus .portfolio-overlay-card {
  transform: translate(0, 0);
}

.portfolio-card-link {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 0.5px solid;
  border-color: #e7e9fc;
  border-top: none;
}

.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 385px) {
  .mobile-menu-contact-phone-link {
    font-size: 22px;
    font-weight: 700;
  }

  .mobile-menu-social {
    column-gap: 8%;
  }
}

@media screen and (max-width: 767px) {
  .page-nav {
    display: none;
  }

  .menu-contact {
    display: none;
  }

  .mobile-menu-close-btn {
    top: 24px;
    right: 40px;
  }

  .header {
    padding: 24px 16px;
    border-bottom-color: #e7e9fc;
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
    padding-right: 51px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .overlay {
    padding: 112px 0px;
  }

  .hero-header {
    font-weight: 500;
    font-size: 36px;
    max-width: 318px;
  }

  .modal {
    max-width: 392px;
  }

  .container {
    max-width: 428px;
  }

  .strategy-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
  }

  .strategy-header {
    text-align: center;
  }

  .strategy-item {
    max-width: 396px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
  }

  .customer-menu-item {
    height: 88px;
    width: 190px;
    flex-basis: calc((100% - 16px) / 2);
  }

  .footer-logo {
    text-align: center;
  }

  .footer-logo .logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-social .footer-text {
    text-align: center;
  }

  .footer-social {
    margin-top: 72px;
  }

  .footer-subscribe .footer-text {
    text-align: center;
  }

  .footer-subscribe {
    margin-top: 72px;
  }

  .footer-logo p {
    margin-left: auto;
    margin-right: auto;
    text-align: start;
  }

  .footer-subscribe-btn {
    margin-top: 16px;
  }

  .portfolio-section {
    padding-top: 48px;
  }

  .portfolio-menu {
    align-items: center;
    justify-content: start;
    max-width: 80%;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .menu-link.link-item-block {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .team-social-link:focus,
  .team-social-link:active {
    background-color: #404bbf;
  }
  .work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-item {
    position: relative;
  }

  .act.menu-link::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }

  .menu .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: #404bbf;
  }

  .contact-email,
  .contact-phone {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-email:active,
  .contact-email:focus,
  .contact-phone:active,
  .contact-phone:focus {
    color: #404bbf;
  }

  .menu-contact .menu-item:last-child {
    margin-top: 4px;
  }

  .contact-email {
    padding-top: 16px;
  }

  .contact-phone {
    padding-bottom: 16px;
  }

  .menu-contact {
    display: block;
  }

  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/image-h1.jpg");
    padding: 112px 137px;
  }

  .hero {
    max-width: 768px;
  }

  .hero-header {
    width: 500px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
  }

  .modal {
    max-width: 408px;
  }

  .strategy-list {
    display: flex;
    flex-wrap: wrap;
    column-: 24px;
    row-gap: 72px;
    padding: 0;
    text-align: start;
  }

  .strategy-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    flex-basis: calc((100% - 48px) / 3);
    padding: 0;
    max-width: 264px;
  }

  .customer-menu {
    column-gap: 24px;
  }

  .customer-menu-item {
    height: 88px;
    width: 168px;
  }

  .footer-logo {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-subscribe-input {
    width: 264px;
    margin-right: 24px;
  }

  .footer-descr {
    width: 264px;
  }

  .footer-align {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 586px;
  }

  .footer-form-subscribe {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .portfolio-menu {
    flex-wrap: nowrap;
    column-gap: 24px;
    margin-bottom: 64px;
  }

  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-work {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: flex-start;
  }

  .portfolio-card-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
  }

  .menu-contact .menu-item:last-child {
    padding-top: 0;
  }

  .link-item-block {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo {
    margin-right: 77px;
  }

  .menu-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .contact-email,
  .contact-phone {
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu .menu-item:not(:last-child),
  .menu-contact .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .contact-email:hover,
  .contact-phone:hover {
    color: #404bbf;
  }

  .menu-contact .menu-item:last-child {
    margin-top: 0;
  }

  .hero {
    max-width: 1440px;
  }
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/image-h1.jpg");
    padding-top: 192px;
    padding-bottom: 192px;
  }

  .strategy-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .strategy {
    padding-top: 120px;
  }

  .strategy-header {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .strategy-item {
    flex-basis: calc((100% - (3 * 24px)) / 4);
  }

  .strategy-item-img {
    height: 64px;
    width: 64px;
  }

  .section {
    padding-bottom: 120px;
  }

  .strategy-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .work-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .work-item {
    flex-basis: calc((100% - (2 * 24px)) / 3);
  }

  .work-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customer {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-align {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
    width: 100%;
  }

  .footer-logo {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .portfolio-section {
    padding-top: 96px;
  }

  .portfolio-card-item {
    display: flex;
    flex-basis: calc((100% - (2 * 24px)) / 3);
  }

  .portfolio-menu {
    margin-bottom: 72px;
  }

  .portfolio-work {
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/image-h1.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/image-h1.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../img/image-h1.jpg");
  }
}
