body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.btn:hover, .btn:focus {
    background-color: #404BBF;
    color: #F4F4FD;
}

.btnh:hover, .btnh:focus  {
        background-color: #404BBF;
        color: #F4F4FD;
}
.links .color-text {
color: #2E2F42;
}
.links .color-text:hover , 
.links .color-text:focus {
    color: #404BBF;
}
.cnt .contasts:hover ,
.cnt .contasts:focus {
   color: #404BBF;
}

a {
    text-decoration: none;
}
.web {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 700;
}
.studio {
    font-family: 'Raleway', sans-serif;
    color: #434455;
    font-weight: 700;
}
.color-text {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    color: #2E2F42;
    font-weight: 700;
}

.contasts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.02em;
    width: 570px;
   
}
.section-h1 {
 margin: 0 auto;
}
.content {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 0.5px solid #F4F4FD;
    border-top: none;
    padding-left: 16px;
}
.btn {
    font-size: 16px;
    background: #E7E9FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    left: 635px;
    border: none;
}
.btnh {
font-size: 18px;
width: 170px;
left: 635px;
top: 540px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
color: #fff;
display: block;
margin: auto;
margin-top: 48px;
padding: 16px 16px;
border: none;
}
.btnh:hover .btnh:focus {
background-color: #404BBF;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #F4F4FD;
}
.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    margin: auto;
    display: block;
    padding: 12px 24px;
}
.btn-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
    padding-top: 108px;
}
.btn-ptf {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;
}
ul {
    list-style: none;
}

.li {
    flex-direction: column;
    align-items: flex-start;
    width: 264px;
}
h3 {
color: #2E2F42;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 24px;
    
}
.p {
color: #434455;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.h2 {
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 36px;
line-height: 40px;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.section-h2 {
    padding-top: 120px;
    padding-bottom: 94px;
}
.main {
background-color: #2E2F42;
height: 603px;
padding-top: 192px;
margin: 0 auto;
}
.l1-team {
background-color: #FFFFFF;
text-align: center;
}
.ul-main {
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    display: flex;
    width: 1158px;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 72px;
}
.h3 {
font-weight: 500;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin-bottom: 8px;
}
.team {
background-color: #F4F4FD;
padding-bottom: 120px;
padding-top: 120px;
padding-bottom: 72px;
}
.h3-team {
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 36px;
line-height: 40px;
text-transform: capitalize;
color: #2E2F42;
text-align: center;
margin-bottom: 72px;
}
.name {
width: 135px;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
margin: auto;
margin-top: 32px;
margin-bottom: 8px;
}
.work {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 32px;
}
.li2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
footer {
    background-color: #2E2F42;
}
.studio-footer {
    color: #F4F4FD;
}
.text {
font-family: 'Roboto', sans-serif;
color: #E7E9FC;
letter-spacing: 0.02em;
width: 264px;
left: 156px;
top: 1864px;
}
img {
    display: block;
    max-width: 100%;
}
.header-a {
   align-items: center;
   margin-right: 77px;
}
.header-section {
    margin: 24px;
}
.header-n {
    margin-right: 331px;
}
.list-ul {
    display: flex;
    padding-top: 24px;
}
.header-list-item {
    display: inline;
    padding-right: 40px;
    
}
.list-ul-two {
    margin-left: auto;
    
}
.header-list-item-two {
    display: inline;
margin-top: 24px;
padding-right: 40px;
}

.ul-section {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.section-main {
padding-bottom: 120px;
}
.conteiner {
    width: 1158px;
    padding-right:  15px;
    padding-left: 15px;
    margin: 0 auto;
}
.ul-hm {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
.ul-text {

}
ul, ol, h1, h2, h3, h4, h5, h6, li, p {
    padding: 0;
    margin: 0;
} 
.li {
    padding: 10px;
    width: 264px;
}
.ft {
   padding-top: 100px;
   padding-bottom: 100px;
}