body {
    font-family: 'Roboto', sans-serif;
}
.btn:hover, .btn:focus {
    background-color: #404BBF;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #F4F4FD;
}

.btnh:hover, .btnh:focus  {
        background-color: #404BBF;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        color: #F4F4FD;
}
.links .color-text {
color: #2E2F42;
}
.links .color-text:hover , 
.links .color-text:focus {
    color: #404BBF;
}
.cnt .contasts:hover ,
.cnt .contasts:focus {
   color: #404BBF;
}
a {
    text-decoration: none;
}
.web {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 700;
}
.studio {
    font-family: 'Raleway', sans-serif;
    color: #434455;
    font-weight: 700;
}
.color-text {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    color: #2E2F42;
    font-weight: 700;
}

.contasts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
}
.btn {
    font-size: larger;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 540px;
    background: #E7E9FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.btnh {
        font-size: larger;
        width: 170px;
        height: 51px;
        left: 635px;
        top: 540px;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        margin: auto;
            display: block;
}
.btnh:hover .btnh:focus {
background-color: #404BBF;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #F4F4FD;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #4D5AE5;
    margin: auto;
    display: block;
}
.btn-ptf {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;
}
ul {
    list-style: none;
}

.li {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 264px;
    height: 104px;
    left: 156px;
    top: 795px;
}
h3 {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.p {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
}
.main {
    background-color: #2E2F42;
}
.l1-team {
 background-color: #FFFFFF;
}
.h3 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.team {
    background-color: #F4F4FD;
}
.h3-team {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}
.name {
    width: 135px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}
.work {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        flex: none;
        order: 1;
        flex-grow: 0;
}
.li2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 32px;
        gap: 32px;
        width: 264px;
        height: 380px;
        left: 156px;
        top: 1783px;
}
footer {
    background-color: #2E2F42;
}
.studio-footer {
    color: #F4F4FD;
}
.text {
font-family: 'Roboto', sans-serif;
font-style: normal;
color: #E7E9FC;
letter-spacing: 0.02em;
width: 264px;
height: 110px;
left: 156px;
top: 1864px;
}